.landingPageImg {
  --mask: radial-gradient(
        134.16px at calc(100% - 180px) 50%,
        #000 99%,
        #0000 101%
      )
      0 calc(50% - 120px) / 100% 240px,
    radial-gradient(134.16px at calc(100% + 120px) 50%, #0000 99%, #000 101%)
      calc(100% - 60px) 50%/100% 240px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@media (max-width: 760px) {
  .landingPageImg {
    --mask: radial-gradient(
          134.16px at 50% calc(100% - 180px),
          #000 99%,
          #0000 101%
        )
        calc(50% - 120px) 0/240px 100%,
      radial-gradient(134.16px at 50% calc(100% + 120px), #0000 99%, #000 101%)
        50% calc(100% - 60px) / 240px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}
